.idea
vgcore*
core
*.so
build
venv
*.dat
.vscode
__pycache__

#CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

DartConfiguration.tcl
