#
# Metadata
#
.vagrant
.vscode
.idea

#
# Packages and Build Files
#
__pycache__
*.dat
*.so
build/
build-*/
venv
vgcore*
core.*
log.txt
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
DartConfiguration.tcl
sa_save_file.bin
bin/*
CMakeFiles/*
fuzz/corpus/
fuzz/output/
src/cmake_install.cmake
src/CTestTestfile.cmake
src/CMakeFiles/*
test/cmake_install.cmake
test/CTestTestfile.cmake
test/CMakeFiles/*
Testing/Temporary/*
docs/wiki/_build
docs/wiki/_templates
support/scripts/src/*
support/scripts/test/*
support/scripts/bin/*
support/scripts/CMakeFiles/*

